/* * is a wildbyui referring to all elements. */
* {
    margin: 10;
    box-sizing: border-box;
}

active {
    text-align: center;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: blue;
    background-color: cornsilk;
    text-align: center;
}

h1 {
    font-size: 28pt;
    color: forestgreen;
}

h2 {
    font-size: 20pt;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

h3 {
    color: lightgreen;
    text-align: center;
    padding-left: 0em;
}

h4 {
    color: lightgreen;
    text-align: center;
    padding-left: 0em;
}

h5 {
    color: lightgreen;
    text-align: center;
    padding-left: 0em;
}

audio {
    padding-left: 0em;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 780px;
}

header,
footer,
footer a {
    text-align: center;
    background-color: lightgreen;
    color: black;
}

header img {
    width: 100;
    height: auto;
    float: right;
}

.box {
    border-radius: 5px;
    background-color: #eee;
    padding: 20px 5px;
}

button {
    color: white;
    background-color: green;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #4791d0;
    padding: 5px 10px 8px 10px;
}

button:hover {
    background-color: lightgreen;
    border: 1px solid #0F5897;
}

footer {
    font-size: 10pt;
}

Background {
    color: azure;
}

/* css for BYU-I image transforming across the page and back */
.byui {
    background-image: url(BYUI.jpg);
    height: 500px;
    line-height: 95px;
    text-align: center;
    transform: rotateX(45deg);
    width: 600px;
}

.spin {
    cursor: pointer;
    transform-style: preserve-3d;
}

.spin:hover {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
