/* * is a wildcard referring to all elements. */
* { margin: 10; box-sizing: border-box; }

active {
text-align: center;
}

body {
font-size: 16px;
line-height: 32px;
font-family: sans-serif;
color: blue;
background-color: cornsilk;
text-align: center;
}

h1 {
font-size: 28pt;
color:forestgreen;
}

h2 {
font-size: 20pt;
text-align: center;
border-bottom: 1px solid #bbb;
}
h3 {
color:lightgreen;
text-align: center;
padding-left: 0em;
}

h4 {
color:lightgreen;
text-align: center;
padding-left: 0em;
}

h5 {
color:lightgreen;
text-align: center;
padding-left: 0em;
}
audio {
padding-left: 0em;
}

header, main, footer, div, script {
margin: 1.25rem auto;
padding: .5rem;
max-width: 780px;
}

header, footer, div {
text-align: center;
background-color: lightgreen;
color: black;
}

header img {
width: 100;
height: auto;
float: right;
}

.box {
border-radius: 5px;
background-color: #eee;
padding: 20px 5px;
}
button {
color: white;
background-color: green;
text-align: center;
border-radius: 5px;
border: 1px solid #4791d0;
padding: 5px 10px 8px 10px;
}
button:hover {
background-color: lightgreen;
border: 1px solid #0F5897;
}
footer {
font-size: 10pt;
}

Background {
color:azure;
}

/* The animated Touch box */
#animatedTouch {

    align-content: center;
    margin: 50px;
    width: 500px;
    height: 100px;
    color: white;
    background: blue;
    position: relative;
    font-size: 20px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}


/* Touch Portion */
.swap {
    background-image: url('BYUI2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10em;

}

.swap a {
    display: block;

}

.swap  a img {
    opacity: 1;
    width: 300px;
    height: auto;
    display: block;
    transition: all 0.6s ease-in-out;

}

.swap a:hover img {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
